/* Navbar */
.navbar-a ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(54, 48, 48);
}
.urut li{
    float: left;
}
.urut li a{
    padding: 15px 18px;
    color: white;
    font-family: sans-serif;
    display: inline-table;
    text-align: center;
    text-decoration: none;
}
.urut li a:hover:not(.active){
    background-color: rgb(0, 0, 0);
}
.urut .active2{
    background-color: #09aa6f;
}

#img-a{
	height:500px;
}

/* Card */
.a{
    align-items: center;
    font-family: sans-serif;
}

/* FOOTER */
.text{
	color:#FFF;
}
.footer{
	background-color: black;
	position: relative;
	font-family: sans-serif;
	line-height: 25px;
	margin-bottom: 2px;

}
.footer h5{
	margin-left: 30px;
	margin-bottom:12px;
	font-weight:bold;
	font-size: 18px;
}
.footer h6{
	margin-left: 40px;
	margin-bottom: 16px;
	font-weight:bold;
	font-size:14px;
}
.space{
	margin-top: 20px;
}
.footer p{
	color: darkgray;
	font-size: 14px; 
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.footer p .am{
	color: darkgray;
	font-size: 14px; 
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.footer ul{
	color: darkgray;
	list-style:none;
	font-size:14px;
}
.footer ul a{
	color: darkgray;
	text-decoration: none;
}
/* .footer ul a:hover {
	opacity:0.8;
} */
.am{
	margin-left: 40px;
}
.footer .item.text p .am{
	margin-left: 40px;
}
.footer .garis{
	width: 100px;
	height: 0px;
	margin-left: 30px;
}
.footer .copyright {
	text-align:left;
	padding-top:15px;
	font-size:13px;
	margin-bottom:0;
}
.footer .item.text {
	margin-bottom:40px;
}

.footer .item.text p {
	margin-bottom:0;
}
  
.footer .item.social {
	text-align:center;
}
.footer .item.social > a {
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color:#fff;
}
  
/* .footer .item.social > a:hover {
	opacity:0.9;
} */











